{% extends 'details/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans "درباره ما" %}<br><p style="color: #fff; margin-top: 15px; font-size: 18px;"> {% blocktrans %}با کراکی بیشتر آشنا شوید{% endblocktrans %} </p>{% endblock page_title %}
{% block title %}{% trans "درباره ما" %}{% endblock title %}
{% block content %}


<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>{% trans "فرایند ما ساده است؛ محصولات ما قدرتمند هستند." %}</h2>
                        <div class="bar"></div>
                        <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم.{% endblocktrans %}</p>
                    </div>
                    <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم.{% endblocktrans %} </p>

                    <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم.{% endblocktrans %} </p>

                    <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم.{% endblocktrans %}</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <img src="{% static 'details/assets/img/marketing.png' %}" alt="image">
            </div>
        </div>
    </div>

    <div class="about-inner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>{% trans "شرکت ما" %}</h3>
                        <p> {% blocktrans %} لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>{% trans "ما چه کسانی هستیم" %}</h3>
                        <p> {% blocktrans %} لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>{% trans "ارزش ما چیست؟" %}</h3>
                        <p> {% blocktrans %} لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>{% trans "تماس با ما" %}</h3>
                        <p> {% blocktrans %} لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Team Area -->
<section class="team-area ptb-100 bg-gray">
    <div class="container">
        <div class="section-title">
            <h2>{% trans "تیم هوشمند ما" %}</h2>
            <div class="bar"></div>
            <p> {% blocktrans %} لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %} </p>
        </div>

        <div class="row">
            <div class="team-slides">
                <div class="col-lg-12">
                    <div class="single-team-member">
                        <img src="{% static 'details/assets/img/team-img1.jpg' %}" alt="team">

                        <div class="team-content">
                            <h3>{% trans "جان دی" %}</h3>
                            <span>{% trans "سئو" %}</span>

                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-team-member">
                        <img src="{% static 'details/assets/img/team-img2.jpg' %}" alt="team">

                        <div class="team-content">
                            <h3>{% trans "استیون اسمیت" %}</h3>
                            <span>{% trans "توسعه دهنده" %}</span>

                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-team-member">
                        <img src="{% static 'details/assets/img/team-img3.jpg' %}" alt="team">

                        <div class="team-content">
                            <h3>{% trans "داوید لوئیز" %}</h3>
                            <span>{% trans "طراح" %}</span>

                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-team-member">
                        <img src="{% static 'details/assets/img/team-img4.jpg' %}" alt="team">

                        <div class="team-content">
                            <h3>{% trans "پارک تیم" %}</h3>
                            <span>{% trans "طراح" %}</span>

                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-team-member">
                        <img src="{% static 'details/assets/img/team-img5.jpg' %}" alt="team">

                        <div class="team-content">
                            <h3>{% trans "طاهر نصیری" %}</h3>
                            <span>{% trans "مدیر" %}</span>

                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->

<!-- Start CTA Area -->
<div class="cta-area">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-7 col-md-7">
                <p>{% trans "میخواهید فوق العاده شید؟ جای مناسبی اومدید!" %}</p>
            </div>

            <div class="col-lg-5 col-md-5 text-right">
                <a href="#" class="btn btn-primary">{% trans "یک تست درایو بگیرید" %}</a>
            </div>
        </div>
    </div>
</div>
<!-- End CTA Area -->

<!-- Start Feedback Area -->
<section class="feedback-area ptb-100 bg-gray">
    <div class="container">
        <div class="section-title">
            <h2>{% trans "مشتریان" %}</h2>
            <div class="bar"></div>
            <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است{% endblocktrans %} </p>
        </div>

        <div class="row">
            <div class="feedback-slides">
                <div class="col-lg-12">
                    <div class="single-feedback">
                        <div class="client-info">
                            <img src="{% static 'details/assets/img/client1.jpg' %}" alt="client">
                            <h3>{% trans "جعفر" %}</h3>
                            <span>{% trans "توسعه دهنده وب" %}</span>
                        </div>
                        <p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-feedback">
                        <div class="client-info">
                            <img src="{% static 'details/assets/img/client2.jpg' %}" alt="client">
                            <h3>{% trans "آلین مایک" %}</h3>
                            <span>{% trans "جان اسمیت" %}</span>
                        </div>
                        <p>{% blocktrans %}برنامه روزانه، هفته یا ماه را پیش ببرید و وضعیت پروژه را در یک نگاه ببینید. جستجو و فیلتر برای تمرکز بر روی هر چیزی یک پروژه واحد فردی{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-feedback">
                        <div class="client-info">
                            <img src="{% static 'details/assets/img/client3.jpg' %}" alt="client">
                            <h3>{% trans "آردص" %}</h3>
                            <span>{% trans "توسعه دهنده وب" %}</span>
                        </div>
                        <p>{% blocktrans %}برنامه روزانه، هفته یا ماه را پیش ببرید و وضعیت پروژه را در یک نگاه ببینید. جستجو و فیلتر برای تمرکز بر روی هر چیزی یک پروژه واحد فردی{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-feedback">
                        <div class="client-info">
                            <img src="{% static 'details/assets/img/client1.jpg' %}" alt="client">
                            <h3>{% trans "داوید وارنر" %}</h3>
                            <span>{% trans "توسعه دهنده وب" %}</span>
                        </div>
                        <p>{% blocktrans %}برنامه روزانه، هفته یا ماه را پیش ببرید و وضعیت پروژه را در یک نگاه ببینید. جستجو و فیلتر برای تمرکز بر روی هر چیزی یک پروژه واحد فردی{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <svg class="svg-feedback-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#ffffff" />
    </svg>
</section>
<!-- End Feedback Area -->

<!-- Start Partner Area -->
<div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="partner-slides">
                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/details/assets/img/partner-1.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-2.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-3.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-4.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-5.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-6.png' %}" alt="partner"></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="item">
                        <a href="#"><img src="{% static 'details/assets/img/partner-7.png' %}" alt="partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->

<!-- Start Platform Connect -->
<section class="platform-connect ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>{% trans "راه های ارتباطی ما" %}</h2>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="#" class="box">
                    <img src="{% static 'details/assets/img/mailchimp.png' %}" alt="mailchimp">

                    <h3>Mail Chimp</h3>
                    <span>{% trans "ارسال ایمیل" %}</span>

                    <i class="icofont-bubble-right"></i>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="#" class="box">
                    <img src="{% static 'details/assets/img/slack.png' %}" alt="mailchimp">

                    <h3>Slack</h3>
                    <span>{% trans "پیام رسانی" %}</span>

                    <i class="icofont-bubble-right"></i>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="#" class="box">
                    <img src="{% static 'details/assets/img/twitter.png' %}" alt="mailchimp">

                    <h3>Twitter</h3>
                    <span>{% trans "توییتر" %}</span>

                    <i class="icofont-bubble-right"></i>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="#" class="box">
                    <img src="{% static 'details/assets/img/instagram.png' %}" alt="mailchimp">

                    <h3>Instagram</h3>
                    <span>{% trans "اخبار" %}</span>

                    <i class="icofont-bubble-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Platform Connect -->
{% endblock content %}