{% extends 'details/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}<!-- Start SaaS Main Banner -->
		<div class="main-banner saas-home">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="row h-100 justify-content-center align-items-center">
							<div class="col-lg-6 col-md-12">
								<div class="saas-image">
									<img src="{% static 'details/assets/img/saas-shape/arrow.png' %}" class="wow fadeInDown" data-wow-delay="0.6s" alt="arrow">
									<img src="{% static 'details/assets/img/saas-shape/box1.png' %}" class="wow fadeInUp" data-wow-delay="0.6s" alt="box1">
									<img src="{% static 'details/assets/img/saas-shape/boy1.png' %}" class="wow fadeInLeft" data-wow-delay="0.6s" alt="boy1">
									<img src="{% static 'details/assets/img/saas-shape/boy2.png' %}" class="wow zoomIn" data-wow-delay="0.6s" alt="boy2">
									<img src="{% static 'details/assets/img/saas-shape/boy3.png' %}" class="wow bounceIn" data-wow-delay="0.6s" alt="boy3">
									<img src="{% static 'details/assets/img/saas-shape/digital-screen.png' %}" class="wow fadeInDown" data-wow-delay="0.6s" alt="digital-screen">
									<img src="{% static 'details/assets/img/saas-shape/filter1.png' %}" class="wow zoomIn" data-wow-delay="0.6s" alt="filter1">
									<img src="{% static 'details/assets/img/saas-shape/filter2.png' %}" class="wow fadeInUp" data-wow-delay="0.6s" alt="filter2">
									<img src="{% static 'details/assets/img/saas-shape/filter3.png' %}" class="wow rotateIn" data-wow-delay="0.6s" alt="filter3">
									<img src="{% static 'details/assets/img/saas-shape/girl1.png' %}" class="wow fadeInUp" data-wow-delay="0.6s" alt="girl1">
									<img src="{% static 'details/assets/img/saas-shape/girl2.png' %}" class="wow zoomIn" data-wow-delay="0.6s" alt="girl2">
									<img src="{% static 'details/assets/img/saas-shape/monitor.png' %}" class="wow zoomIn" data-wow-delay="0.6s" alt="monitor">

									<img src="{% static 'details/assets/img/saas-shape/main-image.png' %}" class="wow zoomIn" data-wow-delay="0.6s" alt="main-image.png">
								</div>
							</div>

							<div class="col-lg-6 col-md-12">
								<div class="hero-content pl-4">
									<h1>{% blocktrans %}با خیال راحت و مطمن خرید کنید{% endblocktrans %}</h1>
									<p>{% blocktrans %}محصولات متنوع موجو در سایت ایت امکان را به شما میدهد که از انتخاب زیادی برخوردار باشید{% endblocktrans %}</p>
									<a href="#" class="btn btn-primary">{% blocktrans %}شروع کنید{% endblocktrans %}</a>
									<a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"> {% blocktrans %}تماشای ویدیو{% endblocktrans %} <i class="icofont-play-alt-3"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-gray shape-1"></div>
			<div class="shape1"><img src="{% static 'details/assets/img/shape1.png' %}" alt="img"></div>
			<div class="shape2"><img src="{% static 'details/assets/img/shape2.png' %}" alt="img"></div>
			<div class="shape3"><img src="{% static 'details/assets/img/shape3.png' %}" alt="img"></div>
			<div class="shape4 rotateme"><img src="{% static 'details/assets/img/shape4.png' %}" alt="img"></div>
		</div>
		<!-- End SaaS Main Banner -->
{% endblock page_title %}
{% block content %}



<!-- Start Features Area -->
		
		<!-- End Features Area -->

		<!-- Start Overview Area -->
		<section class="overview-section ptb-100 bg-gray">
			<div class="container">
				
				
				<section class="features-area saas-features ptb-100">
			
			<div class="features-inner-area">
				<div class="container-fluid">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="features-image">
								<img style="padding: 45px;" src="{% static 'details/assets/img/landing-page/shop.svg' %}" alt="image">
							</div>
						</div>

						<div class="col-lg-6 col-md-12">
							<div class="features-inner-content">
								<div class="features-item">
									<div class="icon">
										<i class="icofont-ui-call"></i>
									</div>
									<h3>{% trans "پشتیبانی ۲۴ ساعته " %}</h3>
									<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
								</div>

								<div class="features-item">
									<div class="icon">
										<i class="icofont-gift"></i>
									</div>
									<h3>{% trans "تخفیف های باورنکردنی" %}</h3>
									<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
								</div>

								<div class="features-item">
									<div class="icon">
										<i class="icofont-qr-code"></i>
									</div>
									<h3>{% trans "پیگیری لحظه ای سفارسات خود" %}</h3>
									<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="shape7"><img src="{% static 'details/assets/img/shape7.png' %}" alt="shape" ></div>
			<div class="shape3"><img src="{% static 'details/assets/img/shape3.png' %}" alt="img"></div>
			<div class="bg-gray shape-1"></div>
			<div class="shape6"><img src="{% static 'details/assets/img/shape6.png' %}" alt="img"></div>
			<div class="shape8 rotateme"><img src="{% static 'details/assets/img/shape8.svg' %}" alt="shape"></div>
			<div class="shape9"><img src="{% static 'details/assets/img/shape9.svg' %}" alt="shape"></div>
			<div class="shape10"><img src="{% static 'details/assets/img/shape10.svg' %}" alt="shape"></div>
			<div class="shape11 rotateme"><img src="{% static 'details/assets/img/shape11.svg' %}" alt="shape"></div>
		</section>


				<div class="overview-box">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-6 overview-content">
							<div class="icon">
								<i class="fas fa-shopping-bag"></i>
							</div>
							<h3>{% trans "فروشگاه" %}</h3>
							<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>

							<ul>
								<li>{% trans "محصولات متنوع" %}</li>
								<li>{% trans "خرید نقد و اقساط" %}</li>
								<li>{% trans "ارسال رایگان" %}</li>
							</ul>
							<a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "فروشگاه" %}</a>
						</div>

						<div class="col-lg-6 col-md-6 app-fetured-item">
							<div class="app-item item-one">
								<i class="fas fa-desktop"></i>
								<h6>{% trans "لوازم جانبی" %}</h6>
							</div>

							<div class="app-item item-two">
								<i class="icofont-ebook"></i>
								<h6>{% trans "قیمت گذاری صادقانه" %}</h6>
							</div>

							<div class="app-item item-three">
								<i class="fas fa-laptop"></i>
								<h6>{% trans "لپتاپ" %}</h6>
							</div>

							<div class="app-item item-four">
								<i class="icofont-stock-mobile"></i>
								<h6>{% trans "تلفن همراه" %}</h6>
							</div>
						</div>
					</div>
				</div>
				
				<br>
				<br>
				<br>
				<br>
				<br>
				
				
				<div class="section-title">
					<h2>{% trans "تماس با ما" %}</h2>
					<div class="bar"></div>
					<p>{% trans "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است." %}</p>
				</div>

				<div class="overview-box">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-6 overview-img">
							<img src="{% static 'details/assets/img/landing-page/contact-us.svg' %}" alt="image">
						</div>

						<div class="col-lg-6 col-md-6 overview-content">
							<div class="icon">
								<i class="fas fa-address-book"></i>
							</div>
							<h3>{% trans "پشتیبانی" %}</h3>
							<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>

							<ul>
								<li>{% trans "پشتیبانی ۲۴ ساعته" %}</li>
								<li>{% trans "تیم مجرب پشتیبانی" %}</li>
							</ul>
							<a href="{% url 'details:contact_us' %}" class="btn btn-primary">{% trans "تماس با تیم مجرب ما" %}</a>
						</div>
					</div>
				</div>

				<br>
				<br>
				<br>
				<br>
				<br>

				<div class="overview-box">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-6 overview-img">
							<img src="{% static 'details/assets/img/landing-page/dashboard.svg' %}" alt="image">
						</div>

						<div class="col-lg-6 col-md-6 overview-content">
							<div class="icon">
								<i style="color: darkcyan;" class="icofont-users-social"></i>
							</div>
							<h3>{% trans "داشبورد" %}</h3>
							<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>

							<ul>
								<li>{% trans "پیگیری سفارشات" %}</li>
								<li>{% trans "اضافه کردن محصول به لیست علاقه مندی" %}</li>
								<li>{% trans "مشاهده نظرات خود" %}</li>
							</ul>
							<a href="{% url 'dashboard' %}" class="btn btn-primary">{% trans "برو به داشبورد" %}</a>
						</div>
					</div>
				</div>

				<div class="overview-box">
					<div class="row h-100 justify-content-center align-items-center">
						<div class="col-lg-6 col-md-6 overview-content">
							<div class="icon">
								<i style="color: mediumseagreen;" class="icofont-ui-messaging"></i>
							</div>
							<h3>{% trans "سوالات خود را از ما بپرسید" %}</h3>
							<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>

							<ul>
								<li>{% trans "پاسخگوی شما هستیم" %}</li>
							</ul>
							<a href="{% url 'details:questions' %}" class="btn btn-primary">{% trans "سوالات متداول" %}</a>
						</div>

						<div class="col-lg-6 col-md-6 overview-img">
							<img src="{% static 'details/assets/img/landing-page/question.svg' %}" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="shape7"><img src="{% static 'details/assets/img/shape7.png' %}" alt="shape"></div>
			<div class="shape3"><img src="{% static 'details/assets/img/shape3.png' %}" alt="img"></div>
			<div class="bg-gray shape-1"></div>
			<div class="shape6"><img src="{% static 'details/assets/img/shape6.png' %}" alt="img"></div>
			<div class="shape8 rotateme"><img src="{% static 'details/assets/img/shape8.svg' %}" alt="shape"></div>
			<div class="shape9"><img src="{% static 'details/assets/img/shape9.svg' %}" alt="shape"></div>
			<div class="shape10"><img src="{% static 'details/assets/img/shape10.svg' %}" alt="shape"></div>
			<div class="shape11 rotateme"><img src="{% static 'details/assets/img/shape11.svg' %}" alt="shape"></div>
		</section>
		<!-- End Overview Area -->


		<!-- Start CTA Area -->
		<div class="cta-area">
			<div class="container">
				<div class="row h-100 justify-content-center align-items-center">
					<div class="col-lg-7 col-md-7">
						<p>{% trans "با ما بروز باشید" %}</p>
					</div>

					<div class="col-lg-5 col-md-5 text-right">
						<a href="#" class="btn btn-primary">{% trans "وبلاگ ما" %}</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End CTA Area -->


		<!-- Start Latest_product Area -->
        <section class="blog-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans "جدید ترین محصولات ما" %}</h2>
                    <div class="bar"></div>

                </div>

                <div class="row">
                    <div class="blog-slides">
                        {% for latest_product in latest_products %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single-blog-post">
                                <a href="{{latest_product.get_absolute_url}}" class="post-image"><img
                                        src="{% if latest_product.image %}{{latest_product.image.url}}{%else%} {%static 'details/assets/img/marketing-shape/no_image.png'%} {%endif %} "
                                        alt="blog-image"></a>

                                <div class="blog-post-content">
                                    <ul>
                                        <li><i class="icofont-wall-clock"></i>{{latest_shop.created}} </li>
                                    </ul>
                                    <h3>{{latest_product.name}}</h3>
                                    <h4>{{latest_product.price}}</h4>
                                    <a href="{{latest_product.get_absolute_url}}" class="read-more-btn">{% trans "مشاهده محصول" %} <i
                                            class="icofont-rounded-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </section>
        <!-- End Latest_product Area -->


		<!-- Start Feedback Area -->
		<section class="feedback-area ptb-100 bg-gray">
			<div class="container">
				<div class="section-title">
					<h2>{% trans "مشتریان" %}</h2>
					<div class="bar"></div>
					<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
				</div>

				<div class="row">
					<div class="feedback-slides">
						<div class="col-lg-12">
							<div class="single-feedback">
								<div class="client-info">
									<img src="{% static 'details/assets/img/client1.jpg' %}" alt="client">
									<h3>{% trans "آلین" %}</h3>
									<span>{% trans "توسعه دهنده وب" %}</span>
								</div>
								<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است{% endblocktrans %}</p>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="single-feedback">
								<div class="client-info">
									<img src="{% static 'details/assets/img/client2.jpg' %}" alt="client">
									<h3>{% trans "آلان اسمیت" %}</h3>
									<span>{% trans "سئو" %}</span>
								</div>
								<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="single-feedback">
								<div class="client-info">
									<img src="{% static 'details/assets/img/client3.jpg' %}" alt="client">
									<h3>{% trans "استیون" %}</h3>
									<span>{% trans "توسعه دهنده وب" %}</span>
								</div>
								<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="single-feedback">
								<div class="client-info">
									<img src="{% static 'details/assets/img/client4.jpg' %}" alt="client">
									<h3>{% trans "داوید لوئیز" %}</h3>
									<span>{% trans "توسعه دهنده وب" %}</span>
								</div>
								<p>{% blocktrans %}لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.{% endblocktrans %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<svg class="svg-feedback-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#ffffff"/>
			</svg>
		</section>
		<!-- End Feedback Area -->

		<!-- Start Partner Area -->
		<div class="partner-area">
			<div class="container">
				<div class="row">
					<div class="partner-slides">
						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-1.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-2.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-3.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-4.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-5.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-6.png' %}" alt="partner"></a>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="item">
								<a href="#"><img src="{% static 'details/assets/img/partner-7.png' %}" alt="partner"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Partner Area -->



{% endblock content %}
