{% extends 'details/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="faq-area ptb-100">
    <div class="container">
        <div class="faq-accordion">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title active" href="javascript:void(0)"> {% trans "]پیام شما با موفقیت ارسال شد" %} </a>
                    
                </li>

                
            </ul>
        </div>

    
    </div>
</section>

{% endblock content %}