{% extends 'details/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "سبد خرید" %}{% endblock title %}
{% block page_title %} سبد خرید {% endblock page_title %}
{% block content %}

<!-- Start Cart Area -->
<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form method="POST">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color: #f6f6f6;">
                                    <th scope="col">{% trans "محصول" %}</th>
                                    <th scope="col">{% trans "نام" %}</th>
                                    <th scope="col">{% trans "قیمت واحد" %}</th>
                                    <th scope="col">{% trans "تعداد" %}</th>
                                    <th scope="col">{% trans "مجموع" %}</th>
                                    <th scope="col">{% trans "پاک کردن" %}</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% if cart %}
                            {% for item in cart %}
                            {% with product=item.product %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{product.image.url}}{%else%}{%static 'details/assets/img/marketing-shape/no_image.png'%}{%endif%}" alt="item">
                                    </a>
                                </td>

                                <td class="product-name">
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </td>

                                <td class="product-price">
                                    <span class="unit-amount">{{ product.price}} {% trans "تومان" %} </span>
                                </td>

                                <td class="product-quantity">
                                    <p>{{ item.quantity }}</p>
                                </td>
                                <td class="product-subtotal">
                                    <span class="subtotal-amount">{{ item.total_price }} {% trans "تومان" %} </span>
                                </td>

                                <td class="product-remove">
                                    <a href="{% url 'cart:cart_remove' product.id %}"><i class="icofont-ui-delete"></i></a>
                                </td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="product-name" colspan="6">
                                        <a href="#">محصولی به سبد خرید اضافه نشده</a>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-buttons">
                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col-lg-7 col-md-7">
                                <div class="coupon-box">
                                    <form action="{% url 'coupons:apply' %}" method="POST">
                                    {% csrf_token %}
                                        {{ coupon_apply_form|crispy }}
                                        <button type="submit">{% trans "کد کوپن را اعمال کنید" %}</button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5 text-right">
                                <a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "به روز رسانی سبد خرید" %}</a>
                            </div>
                        </div>
                    </div>

                    <div class="cart-totals ">

                    <h3>{% trans "مجموع سبد" %}</h3>
                    {% if cart.coupon %}
                    <ul>
                        <li>{% trans "مجموع مبالغ" %}: <span>{{ cart.get_total_price|floatformat:"0 "  }} {% trans "تومان" %} </span></li>
                        <li>{% trans "مبلغ تخفیف" %}:  <span>{{ cart.get_discount|floatformat:"0 "  }} {% trans "تومان" %} </span></li>
                        <li>{% trans "مبلغ قابل پرداخت" %}: <span>{{ cart.get_total_price_after_discount|floatformat:"0 "  }} {% trans "تومان" %} </span></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li>{% trans "مجموع مبالغ" %}: <span>{{ cart.get_total_price|floatformat:"0 "  }} {% trans "تومان" %} </span></li>
                        <li>{% trans "مبلغ قابل پرداخت" %}: <span>{{ cart.get_total_price_after_discount|floatformat:"0 "  }} {% trans "تومان" %} </span></li>
                    </ul>
                    {% endif %} {% if cart|length > 0 %}
                    <a href="{% url 'orders:order_create' %} " class="btn btn-primary ">{% trans "تایید کنید" %} </a> {% endif %}
                </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Area -->

{% endblock content %}