.dashboard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.dashboard-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2em 0;
}

.dashboard-image__image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.dashboard-username {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.4em 0;
}

.dashboard-navigation-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 !important;
}

.dashboard-navigation-list-divider {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.dashboard-list {
  margin-top: 2em;
}

.base-list {
  margin-top: 1em;
}

.navigation-list__item {
  list-style: none;
  width: 100%;
  text-align: center;
}

.navigation-list__link {
  
  transition: translateX 0.4s ease, color 0.4 ease ;
}

.navigation-list__link:hover {
  transform: translateX(-0.8rem);
  color: rgb(170, 170, 170);
}

.dashboard-icon{
  
  font-size: 20px;
  padding-left: 25px;
}

