{% extends "details/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



<!-- add meta title -->
{% block title %} {% trans "بازیابی رمز عبور" %} {% endblock title%}
<!-- End meta title -->


<!-- add meta tags -->
{% block meta %}
<meta name="description" content="بازیابی رمز عبور">
<meta name="keywords" content="بازیابی رمز عبور"> {% endblock meta %}
<!-- End meta tags -->



<!-- add header -->
{% block header %} {% trans "بازیابی رمز عبور" %} {% endblock header %}
<!-- End header -->



<!-- Start Retrieve Area -->
{% block content %}

<section class="login-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="login-image">
                    <img src="{% static 'shop/assets/img/marketing.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h3>{% trans "بازنشانی رمز عبور با موفقیت انجام شد" %}</h3>
                    <p>{% trans "رمز عبور شما تنظیم شده است" %}</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Area -->

{% endblock %}