{% blocktrans %} شما این ایمیل را دریافت می کنید زیرا درخواست بازنشانی گذرواژه برای حساب کاربری خود را در آن کرده اید  {{ site_name }}.{% endblocktrans %}

{% trans "لطفاً به صفحه زیر بروید و رمز جدید را انتخاب کنید:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "نام کاربری شما ، اگر آن را فراموش کردید:" %} {{ user.get_username }}

{% trans "با تشکر از شما برای استفاده از سایت ما!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
