{% extends "details/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



<!-- add meta title -->
{% block title %} ثبت نام {% endblock title%}
<!-- End meta title -->


<!-- add meta tags -->
{% block meta %}
<meta name="description" content="ثبت نام">
<meta name="keywords" content="ثبت نام"> {% endblock meta %}
<!-- End meta tags -->



<!-- add header -->
{% block header %} ثبت نام {% endblock header %}
<!-- End header -->



<!-- Start Register Area -->
{% block content %}
<section class="login-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="login-image">
                    <img src="{% static 'shop/assets/img/marketing.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    
                    <p>حساب کاربری شما با موفقیت ایجاد شد <span><a href="{% url 'login' %}"> login </a> </span> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Area -->

{% endblock %}