{% extends "details/base.html" %}{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


<!-- add meta title -->
{% block title %} {% trans "ثبت نام" %} {% endblock title%}
<!-- End meta title -->

{% block page_title %}{% blocktrans %}ثبت نام{% endblocktrans %}<p style="color: #fff; margin-top: 15px; font-size: 18px;">{% blocktrans %}حساب کاربری خود را بسازید{% endblocktrans %}</p>{% endblock page_title %}


<!-- add meta tags -->
{% block meta %}
<meta name="description" content="ثبت نام">
<meta name="keywords" content="ثبت نام"> {% endblock meta %}
<!-- End meta tags -->



<!-- add header -->
{% block header %} {% trans "ثبت نام" %} {% endblock header %}
<!-- End header -->



<!-- Start Register Area -->
{% block content %}
{% if user.is_authenticated %}
<div class="text-center container">
    <br>
    <br>
    <h1 style="border: solid; border-radius: 2em; padding-top: 1em; padding-bottom: 1em; background-color: rgb(233, 227, 227);">{% trans "شما به حساب کاربری خود وارد شده اید" %}</h1>
    <br>
    <h2 class="btn btn-warning" style="font-size: 2em;border-radius: 1em;"><a href="{% url 'dashboard' %}">{% trans "ورود به داشبورد" %}</a></h2>
</div>
{% else %}
<section class="login-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="login-image">
                    <img src="{% static 'details/assets/img/marketing.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h3>{% trans "خوش آمدید!" %}</h3>
                    <p>{% trans "لطفا ثبت نام بفرمایید" %}</p>

                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">

                                    <td> {{ user_form.username|as_crispy_field }} </td>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">

                                    <td> {{ user_form.email|as_crispy_field }} </td>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">

                                    <td> {{ user_form.password|as_crispy_field }} </td>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">

                                    <td> {{ user_form.password2|as_crispy_field }} </td>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-primary" value="{% trans "ثبت نام کن" %}"  />
                                <input type="hidden" name="next" value="{{ next }}" />
                                <br>
                                <span>{% trans "در حال حاضر یک کاربر ثبت شده است؟" %} <a href="{% url 'login' %}">{% trans "ورود" %}</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- End Login Area -->





{% endblock content %}