{% extends 'details/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% if category %}{{category.name}}{% else %}{% trans "تایید صورت حساب" %}{% endif %} {% endblock title %} 
{% block page_title %}{% trans "ممنون از شما" %}{% endblock page_title %}

{% block content %} 
<br/>

<div class="container" style="padding: 25px;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="user-actions">
                
                <span style="font-size: 30px; display: block; text-align: center;">{% trans "خرید شما با موفقیت ثبت شد" %}</span>
                <p><a href="{% url 'details:homePage' %}">{% trans "خانه" %}</a>  </p> 
                <p><a href="{% url 'orders:orderTracking' %}">سفارشات من</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}