{% extends 'account/dashboard.html' %}
{% load static %}
{% load static jalali_tags %}
{% load i18n %}
{% block page_title %}پیگیری سفارش{% endblock page_title %}
{% block dashboard %}



{% if request.user.is_authenticated %}


<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="cart-table table-responsive">
                   
                    <!-- ============ New Table for public messages ==============-->
                    <table class="table message-table" role="grid">
                        <thead>
                            <tr role="row">
                                <th>{% trans "شناسه کالا" %}</th>
                                <th>{% trans "تاریخ ثبت خرید" %}</th>
                                <th>{% trans "قیمت کل" %}</th>
                                <th>{% trans "مشاهده جزییات" %}</th>
                                <th>{% trans "مشاهده فاکتور" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if orderTracking %}
                            {% for order in orderTracking %}
                            <tr class="content-table__row">

                                <td class="product-name">
                                    <p>{{order.id}}</p>
                                </td>

                                <td class="product-price">
                                    <p>{{order.created|to_jalali:'%Y/%m/%d'}}</p>
                                </td>

                                <td class="product-quantity">
                                    <p>{{order.get_total_cost}}</p>
                                </td>
                
                                <td class="product-quantity">
                                    <a href="{{order.get_absolute_url}}">{% trans "مشاهده" %}</a>
                                </td>

                                <td class="product-quantity">
                                    <a href="{% url 'orders:order_pdf' order.id%}" >{% trans "فاکتور" %}</a>
                                </td>

                            
                            </tr>
                            
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="product-name" colspan="5">
                                    <p >سفارشی ثبت نشده است</p>
                                </td>
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}


{% endblock dashboard %}