<html>
{% load static jalali_tags %}
<head>

<meta charset="utf-8">
<meta htto-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
      

<div class="containerrr" style="display: block;align-items: flex-start; direction: rtl; background-color: rgb(241, 240, 240); padding: 10px 20px 20px; border-radius: 15px;">
    <div class="title" style="text-align: center ;">
        <h1 style="border-radius: 5px;">خرید من</h1> 
    </div>
    <div class="shopInfo">
        <p>شماره فاکتور : {{ order.id }}</p>
        <p>تاریخ سفارش : {{ order.created|to_jalali:'%Y/%m/%d' }}</p>
        <h2>مشخصات خریدار</h2>
        <p>نام و نام خانوادگی : {{order.first_name }} {{ order.last_name }}</p>
        <p>ایمیل : {{order.email }}</p>
        <p>آدرس  : {{order.address }}</p>
        <p>کد پستی : {{order.postal_code }}</p>
        <p>شهر : {{ order.city }}</p>
    </div>
    <div class="itemBought">
        <div class="itemboughtTitle" style="text-align: center;">
            <h1>اقلام خریداری شده</h1>  
        </div>
        <table >
            <thead style="direction: ltr;">
                <tr>
                    <th>محصول</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                    <th>قیمت کل</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr >
                    <td>{{ item.product.name }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">${{ item.get_cost }}</td>
                </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="3">مجموع قیمت خرید</td>
                    <td class="num">${{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table><br>
        <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
            {% if order.paid %}Paid{% else %}Pending payment{% endif %}
        </span>


    </div>
    
    
</div>



   

</body>

</html>