<html>
{% load static jalali_tags %}
{% load i18n %}
<head>

<meta charset="utf-8">
<meta htto-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% get_current_language as LANGUAGE_CODE %}
    
      

<div class="containerrr"{% if LANGUAGE_CODE == 'fa' %} style="display: block;align-items: flex-start; direction: rtl; background-color: #f6f6f6; padding: 10px 20px 20px; border-radius: 15px;" {%else%} style="display: block;align-items: flex-start; direction: ltr; background-color: #f6f6f6; padding: 10px 20px 20px; border-radius: 15px;" {% endif %}>
    <div class="title" style="text-align: center ;">
        <h1 style="border-radius: 5px; font-family: IRANSans;">{% trans "خرید من" %}</h1> 
    </div>
    <div style="display: inline; margin-bottom: 25px ;  direction: ltr;">
        <a style="color: black; background-color: #ddd; border-radius: 5px; padding: 5px 8px;" href="{% url 'orders:order_pdf' order.id%}" >دریافت فاکتور</a>
    
    </div>
    <div class="shopInfo">
        <p>{% trans "شماره فاکتور" %} : {{ order.id }}</p>
        <p>{% trans "تاریخ سفارش" %} : {{ order.created|to_jalali:'%Y/%m/%d' }}</p>
        <div style="direction: ltr; display: inline; justify-content: left; ">
            <div>
                <span style="font-size: 30px; " class="{% if order.paid %}paid{% else %}pending{% endif %}">
                    {% if order.paid %}<p style="color: green; background-color: rgba(151, 255, 177, 0.52); display: inline;align-items: center; border-radius: 8px; padding: 5px 10px;  direction: rtl;">{% trans "پرداخت شده" %}</p>{% else %}<p style="color: red; background-color: rgba(255, 134, 134, 0.596); display: inline;align-items: center; border-radius: 8px; padding: 5px 10px;  direction: rtl;">{% trans "پرداخت نشده" %}</p>{% endif %}
                </span>
            </div>
        </div>
        <h2>{% trans "مشخصات خریدار" %}</h2>
        <p>{% trans "نام و نام خانوادگی" %} : {{order.first_name }} {{ order.last_name }}</p>
        <p>{% trans "ایمیل" %} : {{order.email }}</p>
        <p>{% trans "آدرس " %} : {{order.address }}</p>
        <p>{% trans "کد پستی" %} : {{order.postal_code }}</p>
        <p>{% trans "شهر" %} : {{ order.city }}</p>
    </div>
    
    <div class="itemBought">
        <div class="itemboughtTitle" style="text-align: center;">
            <h1>{% trans "اقلام خریداری شده" %}</h1>  
        </div>
        <table {% if LANGUAGE_CODE == 'fa' %}style="direction: rtl;"{%else%}style="direction: ltr;"{% endif %}>
            <thead style="direction: rtl;">
                <tr>
                    <th>{% trans "قیمت کل" %}</th>
                    <th>{% trans "تعداد" %}</th>
                    <th>{% trans "قیمت" %}</th>
                    <th>{% trans "محصول" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{% trans "تومان" %}{{ item.get_cost }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.product.name }}</td>
                </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="3">{% trans "مجموع قیمت خرید" %}</td>
                    <td >{% trans "تومان" %}{{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table><br>
        


    </div>
    
    
</div>



   

</body>

</html>