{% extends "details/base.html" %} {% load static jalali_tags %} {% load i18n %} {% load crispy_forms_tags %}


<!-- add meta title -->
{% block title %} {{ post.meta_title }} {% endblock title%}
<!-- End meta title -->

<!-- add meta tags -->
{% block meta %}


<meta name="description" content="{{ post.meta_description }}">
<meta name="keywords" content="{{ post.meta_keywords }}"> {% endblock meta %}
<!-- End meta tags -->


<!-- add header -->
{% block header %} {{ post.meta_title }} {% endblock header %}
<!-- End header -->

<!-- Start Post Details Area -->

{% block content %}
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details">
                    <div class="article-img text-center">
                        <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'details/assets/img/no_image.png' %}{% endif %}" alt="{{ post.alt_image }}">

                    </div>

                    <div class="article-content">
                        <ul class="category">
                            <li><a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></li>
                        </ul>

                        <h3>{{ post.title }}</h3>

                        <p>{{ post.long_description|safe }}</p>

                    </div>
                </div>
                <div class="post-comments">
                    <h3>نظرات</h3>
                    {% for comment in comments %}
                    <div class="single-comment">
                        <div class="comment-img">
                            <img src="{% if comment.user.profile.photo %}{{ comment.user.profile.photo.url }}{% else %}{% static 'details/assets/img/default-avatar.png' %}{% endif %}" alt="client">
                        </div>
                        <div class="comment-content">
                            <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                            <p>{{ comment.body|linebreaks }}</p>
                            <span> زمان ثبت دیدگاه : {{ comment.created|to_jalali:'%Y/%m/%d ساعت %H:%M:%S'}}</</span>
                        </div>
                    </div>
                    <hr> {% endfor %}


                </div>
                {% if user.is_authenticated %}
                <form action="." method="POST" class="review-form" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="leave-a-reply">
                        {% if new_comment %}
                        <h5>{% trans "دیدگاه شما موفقیت ثبت شد." %}</h5>
                        {% else %}
                        <h3>دیدگاه شما</h3>
                        <div class="row">


                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">

                                    {{ comment_form.body|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="btn btn-primary">ثبت دیدگاه</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </form>
                {% else %}
                <div class="leave-a-reply">
                    <h5>برای ثبت دیدگاه خود ابتدا باید <a href="{% url 'register' %}">ثبت نام</a> کنید و یا اگر ثبت نام کرده اید باید با نام کاربری خود به سایت <a href="{% url 'login' %}">ورود</a> کنید.</h5>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    </div>
</section>
<!-- End Blog Details Area -->



{% endblock content %}