{% extends "details/base.html" %} {% load static jalali_tags %} {% load i18n %}


<!-- add meta title -->
{% block title %} {% trans "وبلاگ" %} {% endblock title%}
<!-- End meta title -->


<!-- add meta tags -->
{% block meta %}
<meta name="description" content="وبلاگ">
<meta name="keywords" content="وبلاگ"> {% endblock meta %}
<!-- End meta tags -->



<!-- add header -->
{% block header %} {% trans "وبلاگ" %} {% endblock header %}
<!-- End header -->


<!-- Start blog Area -->

{% block content %}
<section class="blog-area blog-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                            <div class="blog-post-content">
                                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                <ul>
                                    <li><i class="icofont-user-male"></i> <a href="#">نویسنده: {{ post.author }} </a></li>
                                    <li><i class="icofont-wall-clock"></i></li>{{ post.publish|
                <div class="row">



                    {% for post in posts %}


                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a href="{{ post.get_absolute_url }}" class="post-image"><img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'shop/assets/img/no_image.png' %}{% endif %}" alt="{{ post.alt_image }}"></a>

                            <div class="blog-post-content">
                                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                <ul>
                                    <li><i class="icofont-user-male"></i> <a href="#">نویسنده: {{ post.author }} </a></li>
                                    <li><i class="icofont-wall-clock"></i></li>{{ post.publish|to_jalali:'%Y/%m/%d'}}
                                </ul>

                                <p>{{ post.short_description|safe|truncatechars_html:185 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="read-more-btn"> {% trans "ادامه مطلب " %} </a><i class="icofont-rounded-double-right"></i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">

                                    {% with posts.number|stringformat:"i" as pgnumber %} {% with myfilter='page='|add:pgnumber|add:'&' request_query=request.META.QUERY_STRING %} {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1&{{ request_query|cut:myfilter }}"><i class="icofont-double-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}&{{ request_query|cut:myfilter }}">قبلی</a></li>

                                    {% endif %}

                                    <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
                                    {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}&{{ request_query|cut:myfilter}}">بعدی</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}&{{ request_query|cut:myfilter }}"><i class="icofont-double-right"></i></a></li>
                                    {% endif %} {% endwith %} {% endwith %}


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="widget widget-search">
                        <form action="{% url 'blog:post_list' %}" method="get">

                            <input name="q" type="search" class="form-control" placeholder="{% trans 'جستجو' %}">
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </div>

                    <div class="widget widget_post_categories">
                        <h3 class="widget-title">{% trans "دسته بندی پست ها" %}</h3>
                        <div class="bar"></div>

                        <ul>
                            {% for cts in post_categories %}
                            <li><a href="{{ cts.get_absolute_url }}"><i class="icofont-bubble-right"></i> {{ cts.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget_recent_posts">
                        <h3 class="widget-title">{% trans "پست های اخیر" %}</h3>
                        <div class="bar"></div>

                        <ul>

                            {% for post in last_posts %}
                            <li>
                                <div class="recent-post-thumb">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'shop/assets/img/no_image.png' %}{% endif %}" alt="blog-image">
                                    </a>
                                </div>

                                <div class="recent-post-content">
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <span class="date">{{ post.publish|to_jalali:'%Y/%m/%d' }}</span>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">{% trans "برچسب های محبوب" %}</h3>
                        <div class="bar"></div>

                        <div class="tagcloud">
                            {% for cts in post_categories|slice:":6" %}
                            <a href="{{ cts.get_absolute_url }}">{{ cts.name }}</a> {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->



{% endblock content %}