{% extends "details/base.html" %} {% load static jalali_tags %} {% load i18n %}


<!-- add meta title -->
{% block title %} {% trans "وبلاگ" %} {% endblock title%}
<!-- End meta title -->

{% block page_title %}بلاگ ها{% endblock page_title %}بلاگ ها

<!-- add meta tags -->
{% block meta %}
<meta name="description" content="وبلاگ">
<meta name="keywords" content="وبلاگ"> {% endblock meta %}
<!-- End meta tags -->



<!-- add header -->
{% block header %} {% trans "وبلاگ" %} {% endblock header %}
<!-- End header -->


<!-- Start blog Area -->

{% block content %}
<section class="product-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="woocommerce-topbar">
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-md-5">
                                    <div class="woocommerce-topbar-ordering">
                                        <form>
                                            <div class="select-box">
                                                <select class="form-control">
                                                    <option value="1">{% trans "مرتب سازی بر اساس محبوبیت" %}</option>
                                                    <option value="2">{% trans "مرتب سازی بر اساس میانگین امتیاز" %}</option>
                                                    <option value="0">{% trans "مرتب سازی بر اساس آخرین" %}</option>
                                                    <option value="3">{% trans "مرتب سازی بر اساس قیمت: کم به زیاد" %}</option>
                                                    <option value="4">{% trans "مرتب سازی بر اساس قیمت: از بالا به پایین" %}</option>
                                                    <option value="5">{% trans "مرتب سازی بر اساس جدید" %}</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for post in posts %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                            <a href="{{post.get_absolute_url}}" >
                                <img src="{% if post.image %}{{post.image.url}}{%else%}{%static 'details/assets/img/marketing-shape/no_image.png'%}{%endif%}" alt="item">
                            </a>
                               
                            </div>

                            <div class="product-content">
                                <h3>
                                    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                </h3>
                                

                                <div class="row h-100 justify-content-center align-items-center">
                                    <div class="col-lg-5">
                                        <h5> {{post.short_description|safe}}</h5>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">

                                    {% with posts.number|stringformat:"i" as pgnumber %} {% with myfilter='page='|add:pgnumber|add:'&' request_query=request.META.QUERY_STRING %} {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1&{{ request_query|cut:myfilter }}"><i class="icofont-double-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}&{{ request_query|cut:myfilter }}">{% trans "قبلی" %}</a></li>

                                    {% endif %}

                                    <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
                                    {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}&{{ request_query|cut:myfilter}}">{% trans "بعدی" %}</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}&{{ request_query|cut:myfilter }}"><i class="icofont-double-right"></i></a></li>
                                    {% endif %} {% endwith %} {% endwith %}


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="widget widget-search">
                        <form action="{% url 'blog:post_list' %}" method="get">

                            <input name="q" type="search" class="form-control" placeholder="جستجو">
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </div>

                    <div class="widget widget_product_categories">
                        <h3 class="widget-title">{% trans "دسته بندی بلاگ ها" %}</h3>
                        <div class="bar"></div>

                        <ul>
                            
                            <li><a href="/blog"><i class="icofont-bubble-right"></i> {% trans "همه" %}</a></li>
                            

                            {% for c in post_categories %}
                            <li><a href="{{c.get_absolute_url}}"><i class="icofont-bubble-right"></i> {{c.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget_recent_products">
                        <h3 class="widget-title">{% trans "بلاگ های اخیر" %}</h3>
                        <div class="bar"></div>

                        <ul>
                            {% for latestblog in last_posts %}
                            <li>
                                <div class="recent-products-thumb">
                                    <a href="{{latestblog.get_absolute_url}}">
                                        <img src="{% if latestblog.image %}{{latestblog.image.url}}{%else%}{%static 'details/assets/img/marketing-shape/no_image.png'%}{%endif%}" alt="blog-image">
                                    </a>
                                </div>

                                <div class="recent-products-content">
                                    <h3><a href="{{latestblog.get_absolute_url}}">{{latestblog.name}}</a></h3>
                                    <span class="date"> {{latestblog.price}} {% trans "تومان" %}</span>
                                </div>
                            </li>
                            {% endfor %}

                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->



{% endblock content %}