{% extends 'details/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}{% trans "داشبورد" %}{% endblock page_title %}
{% block content %}


<section class="checkout-area ptb-100">
    <div class="container">
        

        
                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">{% trans "داشبورد" %} </h3>
                        <div class="bar"></div>
                            

                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">{% trans "داشبورد" %} </th>
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="product-name">
                                           <a href="{% url 'edit' %}" class="nav-link">{% trans "ویرایش اطلاعات" %}</a> 
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="product-name">
                                           <a href="{% url 'message:publicMessages' %}" class="nav-link">{% trans "پیغام های عمومی" %}</a> 
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="product-name">
                                           <a href="{% url 'message:privateMessages' %}" class="nav-link">{% trans "پیغام های خصوصی" %}</a> 
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                           <a href="{% url 'password_change' %}" class="nav-link">{% trans " تغییر رمز عبور" %}</a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                           <a href="{% url 'orders:orderTracking' %}" class="nav-link">{% trans " پیگیری سفارشات" %}</a>
                                        </td>
                                    </tr>


                                  
                                    
                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        






    </div>




</section>


{% endblock content %}