{% extends 'account/dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static jalali_tags %}
<p style="font-weight: bold;">{% block page_title %}{% trans "ویرایش اطلاعات" %}{% endblock page_title %}</p>
{% block title %}{% trans "ویرایش اطلاعات" %}{% endblock title %}
{% block dashboard %}



<!-- Start Checkout Area -->
<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
            </div>
        </div>

        <form method='POST' enctype="multipart/form-data" >
            {% csrf_token %}
                <div class="row edit-user-information">
                <div class="col-lg-6 col-md-12">
                    <div class="billing-details edit-user-information-form">
                        
                        <div class="show-bar">
                            <h3 class="title">{% trans "ویرایش اطلاعات" %} </h3>
                            <div class="bar"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">

                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{user_form.first_name|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{user_form.last_name|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{user_form.email|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{profile_form.address|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{profile_form.city|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{profile_form.postal_code|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    {{profile_form.date_of_birth|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group  ">
                                    <span class="form_text">{% trans "تغییر عکس پروفایل" %}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 form_edit_input">
                                <div class="form-group main-change-img">
                                    {{profile_form.photo|as_crispy_field}}
                                </div>
                            </div>
                            <button type="submit" href="#" class="btn btn-primary order-btn order-btn__prefix">{% trans "ویرایش" %}</a>
                        </div>
                    </div>
                </div>
        </form>
                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">{% trans "جزییات" %} </h3>
                        <div class="bar"></div>
                            

                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead> 
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="product-name">
                                           {% trans " نام کوچک" %}:
                                            <p>{{user.first_name|default:"وارد نشده"}}</p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                            {% trans "نام خانوادگی" %}:
                                            <p>{{user.last_name|default:"وارد نشده" }}</p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                            {% trans "ایمیل" %}:
                                            <p>{{user.email|default:"وارد نشده" }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="product-name">
                                            {% trans "آدرس" %} :
                                            <p>{{user.profile.address|default:"وارد نشده"}}</p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                            {% trans "شهر" %} :
                                            <p>{{user.profile.city|default:"وارد نشده"}}</p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="product-name">
                                            {% trans "تاریخ تولد" %}:
                                            <p>{{user.profile.date_of_birth|default:"وارد نشده"|to_jalali:'%Y/%m/%d '}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>




</section>
<!-- End Checkout Area -->
{% endblock dashboard %}