{% extends 'details/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{product.name}}{% endblock title %}
{% block page_title %}{{product.name}}{% endblock page_title %}
{% block content %}
<!-- Start Shop Details Area -->
<section class="shop-details-area ptb-100">
    <div class="container">
        <div class="shop-details">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="product-img-slides">
                        <div class="product-img">
                            <a href="#"><img src="assets/img/shop-it    em1.jpg" alt="product-img"></a>
                        </div>

                        <div class="product-img">
                            <a href="#"><img src="assets/img/shop-item2.jpg" alt="product-img"></a>
                        </div>

                        <div class="product-img">
                            <a href="#"><img src="assets/img/shop-item3.jpg" alt="product-img"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="product-entry-summary">
                        <h3>{{product.name}}</h3>
                        <h4>{{product.price}} تومان</h4>

                        <p>{{product.description|safe}}</p>

                        <ul class="product-categories">
                            <li>دسته بندی ها:</li>
                            <li><a href="{% url 'shop:product_list_by_category' product.category %}">{{product.category}}</a></li>
                            
                        </ul>

                        <form action=" {% url "cart:cart_add" product.id %}", method="post">
                            {{cart_product_form}}
                            <br/>
                            <button type="submit" class="btn btn-primary">افزودن به سبد خرید</button>
                            {% csrf_token %}
                        </form>

                        <ul class="share-social">
                            <li>اشتراک:</li>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <br/>
                    <br/>
                    <br/>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">برچسب های محبوب</h3>
                        <div class="bar"></div>
                        
                        <div class="tagcloud">
                            {% for tag in product.tags.all%}
                            <a href="{% url 'shop:product_list_by_tag' tag.slug %}">{{tag}}</a>
                            
                            {% endfor %}
                        </div>
                    <div class="shop-details-tabs">
                        <ul id="tabs">
                            <li class="active" id="tab_1">توضیحات</li>
                            <li class="inactive" id="tab_2">نظرات</li>
                        </ul>
                        <div class="content show" id="tab_1_content">
                            <div class="shop-description">
                                <h3>توضیحات</h3>
                                <p>{{product.description|safe}}</p>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        
                    </div>

                        <div class="content" id="tab_2_content">
                            <div class="shop-reviews">
                                <h3>نظرات</h3>
                                {% for comment in comments %}
                                <div class="single-comment">
                                    <div class="comment-content">
                                        <h4>{{comment.name}}</h4>
                                        <p>{{comment.body|safe}}</p>
                                        <span>{{comment.created}}</span>
                                    </div>
                                </div>
                                {% endfor %}

                                
                                 {% if new_comment %}
                                <div class="leave-a-reply">
                                <p>پیام شما با موفقیت ثبت شد</p>
                                </div>
                                {% else %}
                                <form class="review-form" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {{comment_form.body|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{comment_form.name|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{comment_form.email|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="btn btn-primary">ارسال</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
                {% for product in similar_products %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <a href="{{product.get_absolute_url}}"><div class="product-img">
                            <img src="{% if product.image %}{{product.image.url}}{% else%}{%static 'details/assets/img/marketing-shape/no_image.png' %}{% endif %}" alt="item"></a>
                        </div>

                        <div class="product-content">
                            <h3>
                                <a href="{{product.get_absolute_url}}">{{product.title}} </a>
                            </h3>

                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5">
                                    <h5> {{product.price}} تومان </h5>
                                </div>

                                <div class="col-lg-7">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
</section>
<!-- End Shop Details Area -->
{% endblock content %}