{% extends 'details/base.html' %}
{% load static jalali_tags %}   
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{product.name}}{% endblock title %}
{% block page_title %}{{product.name}}<p style="color: #fff; margin-top: 15px; font-size: 18px;">تنوع بالای محصولات و قیمت مناسب </p>{% endblock page_title %}
{% block content %}
<!-- Start Shop Details Area -->
<section class="shop-details-area ptb-100">
    <div class="container">
        <div class="shop-details">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="product-img-slides">
                        {% for image in product.productImages.all %}
                        <div class="product-img">
                            <a href="#"><img src="{{image.image.url}}" alt="product-img"></a>
                        </div>
                        {% endfor %}

                    
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="product-entry-summary">
                        <h3> {% blocktrans with name=product.name %}{{name}}{% endblocktrans %} </h3>
                        <h4>{{product.price}} {% trans "تومان" %}</h4>
                        <p> {% blocktrans with desc=product.description|safe %}{{desc}}{% endblocktrans %}</p>

                        <ul class="product-categories">
                            <li>{% trans "دسته بندی ها:" %}</li>
                            <li><a href="{{product.category.get_absolute_url}}">{% blocktrans with category=product.category %}{% endblocktrans %}{{category}}</a></li>
                            
                        </ul>
                        <br/>
                        {% if request.user.is_authenticated %}
                        {% if fav %}
                        <a href="{% url 'favorite_add' product.id %}" class="btn btn-primary" >{% trans "حذف از لیست علاقه مندی ها" %}</a>
                        {% else %}
                        <a href="{% url 'favorite_add' product.id %}" class="btn btn-primary" >{% trans "افزودن به لیست علاقه مندی ها" %} </a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'register' %}" class="btn btn-primary" >{% trans "افزودن به لیست علاقه مندیها" %}</a>
                        {% endif %}
                        <br/>
                        {% if product.stock < 10 %}
                        <p style="color: rgb(192, 49, 49); margin-top:25px">{{product.stock}} {% trans "عدد در انبار موجود است" %}</p>  
                        {% endif %}
                        
                        <form action=" {% url "cart:cart_add" product.id %}", method="post">
                            <div style="width: 85px;">
                            {{cart_product_form}}
                            </div>
                            <br/>
                            {% if product.stock != 0 %}
                            <button type="submit" class="btn btn-primary">{% trans "افزودن به سبد خرید" %}</button>
                            {% else %}
                            <p>{% trans "این محصول در انبار موجود نمیباشد" %}</p>
                            {% endif %}
                            {% csrf_token %}
                        </form>

                        
                    </div>
                </div>
            </div>
            <br/>
           


            

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="shop-details-tabs">
                        <ul id="tabs">
                            <li class="active" id="tab_1">{% trans "توضیحات" %}</li>
                            <li class="inactive" id="tab_2">{% trans "نظرات" %}</li>
                        </ul>
                        <div class="content show" id="tab_1_content">
                            <div class="shop-description">
                                <h3>{% trans "توضیحات" %}</h3>
                                <p>{% blocktrans with desc=product.description|safe %}{{desc}}{% endblocktrans %}</p>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>

                        <div class="content" id="tab_2_content">
                            <div class="shop-reviews">
                                <div class="post-comments product-comments">
                                    <h3>{% trans "نظرات" %}</h3>
                                    {% for comment in comments %}
                                    <div class="single-comment box-comment-product">
                                        <div class="comment-img div-comment-img">
                                            <img class="img-comment-blog img-comment-product" src="{% if comment.user.profile.photo %}{{ comment.user.profile.photo.url }}{% else %}{% static 'details/assets/img/default-avatar.png' %}{% endif %}" alt="client">
                                        </div>
                                        <div class="comment-content">
                                            <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                                            <p>{{ comment.body|linebreaks }}</p>
                                            <span> {% trans "زمان ثبت دیدگاه" %} :{% if LANGUAGE_CODE == 'fa' %}{{ comment.created|to_jalali:'%Y/%m/%d ساعت %H:%M:%S'}} {%else%} {{ comment.created}} {% endif %} </span>
                                        </div>
                                    </div>
                                    <hr> {% endfor %}

                                </div>

                                {% if user.is_authenticated %}
                                 {% if new_comment %}
                                <div class="leave-a-reply">
                                <br/>
                                <br/>
                                <p>{% trans "پیام شما با موفقیت ثبت شد" %}</p>
                                </div>
                                {% else %}
                                <form class="review-form" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {{comment_form.body|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{comment_form.name|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{comment_form.email|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="btn btn-primary">{% trans "ارسال" %}</button>
                                        </div>
                                    </div>

                                </form>
                                {% endif %}
                                {% else %}
                                <div class="leave-a-reply">
                                    <h5>{% trans "برای ثبت دیدگاه خود ابتدا باید" %} <a href="{% url 'register' %}">{% trans "ثبت نام" %}</a> {% trans "کنید و یا اگر ثبت نام کرده اید باید با نام کاربری خود به سایت" %} <a href="{% url 'login' %}">ورود</a> کنید.</h5>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="sidebar-area">
                        <div class="widget widget_tag_cloud">
                            <h3 class="widget-title">{% trans "برچسب ها" %}</h3>
                            <div class="bar"></div>

                            <div class="tagcloud">
                                {% for tag in product.tags.all%}
                                <a href="{% url 'shop:product_list_by_tag' tag.slug %}">{{tag}}</a>
                                {% endfor %}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in similar_products %}
        <div class="col-lg-4 col-md-6">
            <div class="single-product">
                <a href="{{product.get_absolute_url}}"><div class="product-img">
                    <img src="{% if product.image %}{{product.image.url}}{% else%}{%static 'details/assets/img/marketing-shape/no_image.png' %}{% endif %}" alt="item"></a>
                </div>

                <div class="product-content">
                    <h3>
                        <a href="{{product.get_absolute_url}}">{{product.title}} </a>
                    </h3>

                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-lg-5">
                            <h5> {{product.price}} {% trans "تومان" %} </h5>
                        </div>

                        <div class="col-lg-7">
                            <ul>
                                <li><i class="icofont-star"></i></li>
                                <li><i class="icofont-star"></i></li>
                                <li><i class="icofont-star"></i></li>
                                <li><i class="icofont-star"></i></li>
                                <li><i class="icofont-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}   
    </div>


    <div class="shop-related-prodcut">
        <div class="container">
            <div class="section-title">
                <h2>{% trans "محصولات مرتبط" %}</h2>
                <div class="bar"></div>
            </div>
            {% if products %}
            <div class="row">
                {% for p in products %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="{{ p.get_absolute_url }}">
                            <img src="{{ p.image.url }}" alt="item">
                            </a>

                            <a href="{{ p.get_absolute_url }}" class="add-to-cart-btn">{% trans "افزودن به سبد خرید" %} <i class="icofont-shopping-cart"></i></a>
                        </div>

                        <div class="product-content">
                            <h3>
                                <a href="#">{{p.name}}</a>
                            </h3>

                            
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- End Shop Details Area -->
{% endblock content %}