{% extends 'details/base.html' %}

{% load static %}

{% block title %} {% if category %}{{category.name}}{% else %}Products{% endif %} {% endblock title %} 
{% block page_title %}محصولات{% endblock page_title %}

{% block content %}


<!-- Start Product Area -->
<section class="product-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="woocommerce-topbar">
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-md-5">
                                    <div class="woocommerce-topbar-ordering">
                                        <form>
                                            <div class="select-box">
                                                <select class="form-control">
                                                    <option value="1">مرتب سازی بر اساس محبوبیت</option>
                                                    <option value="2">مرتب سازی بر اساس میانگین امتیاز</option>
                                                    <option value="0">مرتب سازی بر اساس آخرین</option>
                                                    <option value="3">مرتب سازی بر اساس قیمت: کم به زیاد</option>
                                                    <option value="4">مرتب سازی بر اساس قیمت: از بالا به پایین</option>
                                                    <option value="5">مرتب سازی بر اساس جدید</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for product in products %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img src="{% if product.image %}{{product.image.url}}{%else%}{%static 'details/assets/img/marketing-shape/no_image.png'%}{%endif%}" alt="item">

                                <a href="{% url 'shop:product_detail' product.id product.slug%}" class="add-to-cart-btn">افزودن به سبد خرید <i
                                        class="icofont-shopping-cart"></i></a>
                            </div>

                            <div class="product-content">
                                <h3>
                                    <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                                </h3>
                                

                                <div class="row h-100 justify-content-center align-items-center">
                                    <div class="col-lg-5">
                                        <h5> {{product.price}} تومان</h5>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">

                                    {% with products.number|stringformat:"i" as pgnumber %} {% with myfilter='page='|add:pgnumber|add:'&' request_query=request.META.QUERY_STRING %} {% if products.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1&{{ request_query|cut:myfilter }}"><i class="icofont-double-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}&{{ request_query|cut:myfilter }}">قبلی</a></li>

                                    {% endif %}

                                    <li class="page-item"><a class="page-link" href="#">{{ products.number }}</a></li>
                                    {% if products.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}&{{ request_query|cut:myfilter}}">بعدی</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}&{{ request_query|cut:myfilter }}"><i class="icofont-double-right"></i></a></li>
                                    {% endif %} {% endwith %} {% endwith %}


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="widget widget-search">
                        <form action="{% url 'shop:product_list' %}" method="get">

                            <input name="q" type="search" class="form-control" placeholder="جستجو">
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </div>

                    <div class="widget widget_product_categories">
                        <h3 class="widget-title">دسته بندی محصولات</h3>
                        <div class="bar"></div>

                        <ul>
                            
                            <li><a href="/products"><i class="icofont-bubble-right"></i> همه</a></li>
                            

                            {% for c in categories %}
                            <li><a href="{{c.get_absolute_url}}"><i class="icofont-bubble-right"></i> {{c.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget_recent_products">
                        <h3 class="widget-title">پست های اخیر</h3>
                        <div class="bar"></div>

                        <ul>
                            {% for latest_product in latest_products %}
                            <li>
                                <div class="recent-products-thumb">
                                    <a href="{{latest_product.get_absolute_url}}">
                                        <img src="{% if latest_product.image %}{{latest_product.image.url}}{%else%}{%static 'details/assets/img/marketing-shape/no_image.png'%}{%endif%}" alt="blog-image">
                                    </a>
                                </div>

                                <div class="recent-products-content">
                                    <h3><a href="{{latest_product.get_absolute_url}}">{{latest_product.name}}</a></h3>
                                    <span class="date"> {{latest_product.price}} تومان</span>
                                </div>
                            </li>
                            {% endfor %}

                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->
{% endblock content %}
