{% extends 'account/dashboard.html' %}
{% load static %}
{% load static jalali_tags %}
{% load i18n %}
{% block page_title %}{% trans "پیام های عمومی" %}{% endblock page_title %}
{% block dashboard %}


<div class="containerr">
    <div class="row" style="display: flex; justify-content: center; align-items: center; margin-top:155px">
        <div class="message-inner-row" style="width: 1080px; max-width: 95%; ">
            <div class="head">
                <p>{% trans "بخش مربوطه" %} : {% blocktrans with sec=message.section %}{{sec}}{% endblocktrans %}</p>
                <p>{% trans "موضوع" %} : {% blocktrans with sub=message.subject %}{{sub}}{% endblocktrans %}</p>
            </div>

            <div class="body">
                <p>{% blocktrans with body=message.long_description|safe %}{{body}}{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>







{% endblock dashboard %}