{% extends 'account/dashboard.html' %}
{% load static %}
{% load static jalali_tags %}
{% load i18n %}
{% block page_title %}{% trans "پیام های خصوصی" %}{% endblock page_title %}
{% block title %}{% trans "پیام های خصوصی" %}{% endblock title %}
{% block dashboard %}


{% if request.user.is_authenticated %}
{% if user %}
<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="cart-table table-responsive">
                    
                    <!-- ============ New Table for private messages -->
                    <table class="table message-table" role="grid">
                        <thead>
                            <tr role="row">
                                <th>{% trans "موضوع" %}</th>
                                <th>{% trans "بخش" %}</th>
                                <th>{% trans "زمان ارسال" %}</th>
                                <th>{% trans "مشاهده" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if messages %}
                            {% for message in messages %}
                            <tr class="content-table__row">

                                <td class="product-name">
                                    <p>{% blocktrans with sub=message.subject %}{{sub}}{% endblocktrans %}</p>
                                </td>

                                <td class="product-price">
                                    <p>{% blocktrans with sec=message.section %}{{sec}}{% endblocktrans %}</p>
                                </td>

                                <td class="product-quantity">
                                    <p>{% if LANGUAGE_CODE == 'fa' %}{{message.publish|to_jalali:'%Y/%m/%d '}}{% else %}{{message.publish|date:"Y/m/d"}}{% endif %}</p>
                                </td>
                
                                <td class="product-quantity">
                                    <a href="{{message.get_absolute_url}}">{% trans "مشاهده" %}</a>
                                </td>
                            </tr>
                            
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="product-name" colspan="4">
                                    <p >{% trans "پیامی در دسترس نیست" %}</p>
                                </td>
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% else %}
<div class="blog-details-area">
<div class="navbar navbar-expand-md navbar-light">  
<div class="leave-a-reply">
    <h5>{% trans "برای ثبت دیدگاه خود ابتدا باید" %} <a href="{% url 'register' %}">{% trans "ثبت نام" %}</a> {% trans "کنید و یا اگر ثبت نام کرده اید باید با نام کاربری خود به سایت" %} <a href="{% url 'login' %}">{% trans "ورود" %}</a> {% trans "کنید." %}</h5>
</div>
</div>  
</div>
{% endif %}



{% endblock dashboard %}